@model DataModel.Employee
@{
    ViewBag.Title = "Modify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modify</h2>

@using(Html.BeginForm())
{
    <label>First Name:</label>
    @Html.TextBoxFor(model => model.firstName)
    <br />
    <label>Last Name:</label>
    @Html.TextBoxFor(model => model.lastName)
    <br />
    <label>Birth Date:</label>
    @Html.TextBoxFor(model => model.birthDate)
    <br />
    <label>Phone:</label>
    @Html.TextBoxFor(model => model.phone)

    <input type="submit" name="submitEmployee" value="Save" />
}
